@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "icon-rise";
  font-display: swap;
  src: url("../fonts/icon-rise.woff2") format("woff2"), url("../fonts/icon-rise.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* @mixin shadow-1 {
    -webkit-box-shadow: 13px 13px 45px -2px rgba(56,29,219,0.26); 
    box-shadow: 13px 13px 45px -2px rgba(56,29,219,0.26);
} */

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 34px;
  color: #222222;
}

.section-title--position {
  text-align: center;
}

.text-one {
  line-height: 130%;
  font-weight: 400;
  padding-top: 32px;
  padding-bottom: 60px;
  text-align: left;
}

.span-color-one {
  color: #4C1AC5;
}

/*
Ширина контейнера 1200px
При использовании общие стили вынести в файл common.scss
Используется иконочный шрифт icon-rise.v.1.0
Шрифт по умолчанию Roboto 400 16px
*/

.footer-02 {
  background-color: #101C26;
  color: #F5F5F5;
  padding: 80px 0px 80px 0px;
}

@supports (padding-top: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
  .footer-02 {
    padding-top: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
  .footer-02 {
    padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
  .footer-02 {
    padding-bottom: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7760989011rem  +  5.4945054945vw , 5rem )) {
  .footer-02 {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

.footer-02__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col__logo {
  max-width: 25%;
  width: 100%;
}

.col__logo-logotip {
  padding-bottom: 20px;
  height: auto;
}

@supports (width: clamp( 3.75rem , 1.5521978022rem  +  10.989010989vw , 10rem )) {
  .col__logo-logotip {
    width: clamp( 3.75rem , 1.5521978022rem  +  10.989010989vw , 10rem );
  }
}

@supports not (width: clamp( 3.75rem , 1.5521978022rem  +  10.989010989vw , 10rem )) {
  .col__logo-logotip {
    width: calc(3.75rem + 6.25 * (100vw - 20rem) / 56.875);
  }
}

.col__logo-text {
  color: #F5F5F5;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 130%;
  padding-bottom: 8px;
}

@supports (font-size: clamp( 0.75rem , 0.5714285714rem  +  0.8928571429vw , 1rem )) {
  .col__logo-text {
    font-size: clamp( 0.75rem , 0.5714285714rem  +  0.8928571429vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.5714285714rem  +  0.8928571429vw , 1rem )) {
  .col__logo-text {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 28);
  }
}

.col__logo-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  height: 30px;
  width: 150px;
}

.col__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  width: 100%;
}

.col__nav-contacts {
  max-width: 25%;
  width: 100%;
}

.col__nav-list {
  margin-right: 3.75rem;
  padding: 0px 10px 40px 0px;
  padding-top: 0.625rem;
}

@supports (margin-right: clamp( 0.0000000625rem , -1.3186812342rem  +  6.5934064835vw , 3.75rem )) {
  .col__nav-list {
    margin-right: clamp( 0.0000000625rem , -1.3186812342rem  +  6.5934064835vw , 3.75rem );
  }
}

@supports not (margin-right: clamp( 0.0000000625rem , -1.3186812342rem  +  6.5934064835vw , 3.75rem )) {
  .col__nav-list {
    margin-right: calc(0.0000000625rem + 3.7499999375 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
  .col__nav-list {
    padding-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
  .col__nav-list {
    padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
  }
}

.col__nav-list:last-child {
  margin-right: 0;
}

.col__nav-title {
  font-family: "Roboto";
  font-weight: 500;
  color: #F5F5F5;
  padding-bottom: 1.5rem;
}

@supports (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  .col__nav-title {
    font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  .col__nav-title {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}

.col__nav-contact-title {
  font-family: "Roboto";
  font-weight: 500;
  color: #F5F5F5;
  padding-bottom: 1.5rem;
}

@supports (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  .col__nav-contact-title {
    font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.081043956rem  +  0.2197802198vw , 1.25rem )) {
  .col__nav-contact-title {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}

.col__nav-link {
  color: #B3B3B3;
  font-family: "Roboto";
  font-weight: 500;
  margin-bottom: 14px;
  display: block;
}

@supports (font-size: clamp( 0.875rem , 0.831043956rem  +  0.2197802198vw , 1rem )) {
  .col__nav-link {
    font-size: clamp( 0.875rem , 0.831043956rem  +  0.2197802198vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.831043956rem  +  0.2197802198vw , 1rem )) {
  .col__nav-link {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}

.col__nav-contact {
  padding-bottom: 14px;
  color: #B3B3B3;
  font-family: "Roboto";
  font-weight: 500;
  display: block;
}

@supports (font-size: clamp( 0.875rem , 0.831043956rem  +  0.2197802198vw , 1rem )) {
  .col__nav-contact {
    font-size: clamp( 0.875rem , 0.831043956rem  +  0.2197802198vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.831043956rem  +  0.2197802198vw , 1rem )) {
  .col__nav-contact {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}

.col__nav-contact_line {
  line-height: 140%;
}

.logo-social__link {
  font-size: 1.5rem;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

.logo-social__link:hover {
  font-size: 1.875rem;
}

[class*=_icon-]:before {
  font-family: "icon-rise";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 10px;
}

[class*=_icon-]:before {
  color: #F56B5C;
}

._icon-arrow-right:before {
  content: "\e901";
}

._icon-cube:before {
  content: "\e903";
}

._icon-globe:before {
  content: "\e904";
}

._icon-graphic:before {
  content: "\e905";
}

._icon-maps:before {
  content: "\e906";
}

._icon-megafone:before {
  content: "\e907";
}

._icon-molecule:before {
  content: "\e908";
}

._icon-pc:before {
  content: "\e909";
}

._icon-piple:before {
  content: "\e90a";
}

._icon-qoter-left:before {
  content: "\e90b";
}

._icon-qoter-right:before {
  content: "\e90c";
}

._icon-reload:before {
  content: "\e90d";
}

._icon-slack:before {
  content: "\e90e";
}

._icon-support:before {
  content: "\e90f";
}

._icon-phone:before {
  content: "\e942";
}

._icon-location:before {
  content: "\e947";
}

._icon-star-empty:before {
  content: "\e9d7";
}

._icon-star-half:before {
  content: "\e9d8";
}

._icon-star-full:before {
  content: "\e9d9";
}

._icon-circle-right:before {
  content: "\ea42";
}

._icon-circle-left:before {
  content: "\ea44";
}

._icon-whatsapp:before {
  content: "\ea93";
}

._icon-telegram:before {
  content: "\ea95";
}

._icon-vk:before {
  content: "\ea98";
}

#style-3::-webkit-scrollbar {
  width: 6px;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #D1F4F9;
}

.section-01 {
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
  background-color: #fff;
}

.section-01__title-section {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 30px;
}

.section-01__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-01__col {
  max-width: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-01__description {
  display: none;
  overflow-x: auto;
  max-height: 21.875rem;
  padding-left: 0.9375rem;
}

.section-01__description.active {
  display: block;
}

.section-01__title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.section-01__sub-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.section-01__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
}

.section-01__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.section-01__text span {
  font-weight: bold;
}

.section-01__icons {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 5px solid #D1F4F9;
  border-radius: 50%;
}

.section-01__icons::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  border: 5px solid #D1F4F9;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-01__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  border: 3px solid #D1F4F9;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section-01__icon:nth-child(1) {
  -webkit-transform: translate(-50%, -350%);
      -ms-transform: translate(-50%, -350%);
          transform: translate(-50%, -350%);
}

.section-01__icon:nth-child(2) {
  -webkit-transform: translate(200%, -200%);
      -ms-transform: translate(200%, -200%);
          transform: translate(200%, -200%);
}

.section-01__icon:nth-child(3) {
  -webkit-transform: translate(200%, 100%);
      -ms-transform: translate(200%, 100%);
          transform: translate(200%, 100%);
}

.section-01__icon:nth-child(4) {
  -webkit-transform: translate(-50%, 250%);
      -ms-transform: translate(-50%, 250%);
          transform: translate(-50%, 250%);
}

.section-01__icon:nth-child(5) {
  -webkit-transform: translate(-300%, 100%);
      -ms-transform: translate(-300%, 100%);
          transform: translate(-300%, 100%);
}

.section-01__icon:nth-child(6) {
  -webkit-transform: translate(-300%, -200%);
      -ms-transform: translate(-300%, -200%);
          transform: translate(-300%, -200%);
}

.section-01__icon.active {
  z-index: 5;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
      -ms-transform: translate(-50%, -50%) rotate(360deg);
          transform: translate(-50%, -50%) rotate(360deg);
}

.section-01__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#style-3::-webkit-scrollbar {
  width: 4px;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #F56B5C;
}

.services {
  padding-top: 100px;
  /*=== разный фон ====  */
  /* === /разный фон ==== */
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.services__navigation {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border: 1px solid #000;
  margin-right: 40px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background-color: transparent;
}

.services__img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.services__content {
  width: 100%;
  border: 1px solid #000;
  max-height: 464px;
  overflow-x: auto;
}

.services__body_bg-one,
.services__body_bg-two,
.services__body_bg-three,
.services__body_bg-for,
.services__body_bg-five,
.services__body_bg-six,
.services__body_bg-seven,
.services__body_bg-eight,
.services__body_bg-nine {
  padding: 20px 10px 20px 10px;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.services__body_bg-one {
  background-image: url(../img/my-img/icons/journal-richtext.svg);
}

.services__body_bg-two {
  background-image: url(../../img/my-img/icons/journal-album.svg);
}

.services__body_bg-three {
  background-image: url(../img/my-img/icons/figma.svg);
}

.services__body_bg-for {
  background-image: url(../img/my-img/icons/laptop-code-solid-1.svg);
}

.services__body_bg-five {
  background-image: url(../img/my-img/icons/speedometer.svg);
}

.services__body_bg-six {
  background-image: url(../img/my-img/icons/wordpress.svg);
}

.services__body_bg-seven {
  background-image: url(../img/my-img/icons/eye-fill.svg);
}

.services__body_bg-eight {
  background-image: url(../img/my-img/icons/SEO.svg);
}

.services__body_bg-nine {
  background-image: url(../img/my-img/icons/icon-services-light.svg);
}

.services__body {
  height: 100%;
}

.services__body-content {
  max-width: 100%;
  width: 100%;
}

.services__body-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
  margin-bottom: 10px;
}

.services__body-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 0.9375rem;
}

.services__body-list {
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
}

.services__body-list span {
  font-weight: bold;
}

.services__body-img {
  border: 1px solid #000;
  max-width: 30%;
  width: 100%;
  height: 100%;
}

.gen-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 160%;
  margin-bottom: 12px;
  position: relative;
}

.gen-title::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 120px;
  bottom: 0;
  left: 0;
  background-color: #F56B5C;
}

.gen-sub-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 72px;
  color: #F56B5C;
  max-width: 540px;
}

.services__title._tab-active {
  margin-right: 0;
}

body {
  background-color: #fff;
  color: #000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container--full] {
  max-width: 100rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

@media (min-width: 48em) {
  .col__logo-text {
    font-size: inherit;
  }
}

@media (max-width: 75em) {
  .footer-02__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .col__logo {
    max-width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    /* Задаем порядок элемента */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .col__logo-inner {
    max-width: 60%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .col__logo-social {
    padding-top: 0;
  }

  .col__nav {
    max-width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    /* Задаем порядок элемента */
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .col__nav-contacts {
    max-width: 30%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    /* Задаем порядок элемента */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media (max-width: 61.99875em) {
  .col__nav-list {
    margin-right: 0;
    max-width: 50%;
    width: 100%;
    padding-top: 0;
  }

  .section-01__inner {
    display: block;
  }

  .section-01__col {
    max-width: 100%;
  }

  .section-01__description {
    padding-left: 0;
  }
}

@media (max-width: 47.99875em) {
  .col__logo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .col__logo-logotip {
    margin: 0 auto;
  }

  .col__logo-inner {
    max-width: 80%;
  }

  .col__logo-social {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .col__nav {
    max-width: 100%;
  }

  .col__nav-contacts {
    max-width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-bottom: 20px;
  }

  .section-01__text {
    font-size: 0.875rem;
  }

  .services__item {
    display: block;
  }

  .services__title {
    margin-right: 0;
    width: 100%;
  }

  .services__body-list {
    font-size: 0.875rem;
  }
}

@media (max-width: 31.25em) {
  .col__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 29.99875em) {
  .col__logo-inner {
    max-width: 100%;
  }
}